## Задание 1
### Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [19]:
import pandas as pd

In [18]:
ds=pd.read_csv('ratings.csv', 'r', delimiter=',')
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

## Задание 2
### По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [20]:
summ=0
ds=pd.read_csv('power.csv', 'r', delimiter=',')
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>0)]
ds3=ds2[ds2.category.isin([4,12,21])]
summ=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

## Задание 3
### Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
### Примеры страниц (необязательно брать именно эти):

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_MN = pd.read_html('https://en.wikipedia.org/wiki/Gold', match='Gold jewelry consumption by country in tonnes')
len(table_MN)
df = table_MN[0]
df.head()

         Country    2009    2010   2011   2012    2013
0          India  442.37  745.70  986.3  864.0   974.0
1          China  376.96  428.00  921.5  817.5  1120.1
2  United States  150.28  128.61  199.5  161.0   190.0
3         Turkey   75.16   74.07    143  118.0   175.2
4   Saudi Arabia   77.75   72.95   69.1   58.5    72.2